.DS_STORE
venv/
gatt/services/__pycache__/
gatt/.idea/
.idea/
gatt/__pycache__/
gatt/api/__pycache__/
gatt/api/services/__pycache__/
gatt/data/__pycache__/
*.pyc
*.cbp
matrix/Testing/Temporary/
matrix/librestclient.a
matrix/cmake_install.cmake
matrix/main
matrix/Makefile
networking/data/db.sqlite
